section.events {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .events {
    &__title {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-family: 'RobotoBold';
      font-size: 18px;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 420px;
        height: 1px;
        content: '';
        background: $c_l_light;
      }
    }
    &__gallery {
      position: relative;
      z-index: 2;
      overflow: hidden;
      width: 550px;
      height: 420px;
      padding: 40px;
      text-align: center;
      &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        width: 420px;
        content: '';
        background: $c_mark;
      }
    }
    &__img {
      position: absolute;
      display: block;
      transition: opacity .3s;
      opacity: 0;
      user-select: none;
      font-size: 0;
      background: #fff;
      pointer-events: none;
      max-height: 100%; 
      @extend .link-reset;
      img {
        max-width: 100%;  
        max-height: 100%; 
      }
      &.active {
        transition: opacity .3s .3s;
        opacity: 1;
        pointer-events: auto;
        img {
          transition: .25s;
        }
        &:hover {
          img {
            opacity: .8;
          }
        }
      }
    }
    &__arrows {
      position: relative;
      width: 40px;
      margin: 0 25px; 
      height: 420px;
      z-index: 9;
      flex-shrink: 0;
      flex-grow: 0;
      &:before {
        left: 9px + 10px;
        content: '';
        top: 80px + 2px;
        bottom: 80px;
        width: 1px;
        background: linear-gradient(to bottom, white 0%, $c_l_light 15%, $c_l_light 85%, white 100%);
        position: absolute;
      }
    }
    &__arrow {
      position: absolute;
      font-size: 30px;
      line-height: 30px;
      padding: 15px;
      left: -5px;
      display: block;
      cursor: pointer;
      transition: .25s;
      user-select: none;

      &.disabled {
        color: $c_l_light;
        cursor: not-allowed;
        pointer-events: none;
      }

      &-prev {
        top: 30px;
      }
      &-next {
        bottom: 30px;
      }
    }
    &__list {
      pointer-events: none;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      flex-direction: column;
      display: flex;
      justify-content: center;
      transition: .25s;  
      opacity: 0; 
      &.active {
        pointer-events: auto;
        transition: .25s .25s;  
        opacity: 1;     
      }
      &-wrap {
        height: 420px;
        width: calc(100% - 550px - 90px);
        position: relative;
        .js-events-mobile-toggle {display: none;}
      }
    }
    &__item {
      .text-wrap {
        &:after {
          content :'';
          display: table; 
          clear: both;  
        }
        line-height: 24px;
        @include link-reset();
        color: $c_gray_darkest;
        & > .text {
          display: block;
          display: inline-block;  
          cursor: pointer;
          @include underline();
          position: relative;
          clear: both;
          overflow: hidden;
          max-height: 73px; 
          padding-bottom: 0;
          font-family: 'RobotoRegular';
          font-size: 22px;
        }
      }
      &.active
      .text-wrap .text {
        background-size: 2px 145%;
      }
      .date {
        float: left;
        clear: both;
        margin-top: 10px;
        color: $c_gray_dark;
      }
      .link {
        float: right;
        margin-top: 10px;
      }
      &:after {
        display: table;
        content: '';
        clear: both;  
      }
      & + .events__item {
        position: relative;
        margin-top: 40px;
        &:before {
          position: absolute;
          top: -20px;
          right: 0;
          left: 0;
          height: 1px;
          content: '';
          background: linear-gradient(to right, white 0%, $c_l_light 15%, $c_l_light 85%, white 100%);
        }
      }
    }
  }

  @media (max-width: 1800px) {
    .events {
      &__gallery {
        width: 440px;
        height: 348px;  
        &:before {
          width: 380px; 
        } 
      }
      &__arrows {
        margin: 0 10px; 
        height: 348px;  
      }
      &__list {
        &-wrap {
          width: calc(100% - 440px - 60px);
          height: 348px;  
        }
      }
      &__item {
        .text-wrap .text {
          font-size: 20px;
          max-height: 54px; 
        }
      }
    }
  }
  @media (max-width: 1023px) {
    .events {
      &__gallery {
        display: none;
      }
      &__arrows {
        display: none;
      }
      &__list {
        &-wrap {
          width: 100%;
          height: auto;
          position: relative;
          padding-bottom: 40px;
          .js-events-mobile-toggle {
            &:before {
              content: 'Ещё';
              display: inline-block;
              vertical-align: middle;
              margin-right: 10px;
              font-size: 18px;
            }
            display: block;
            transition: .25s;

            position: absolute;
            right: 60px;
            bottom: -10px;
            .fa {font-size: 24px;vertical-align: middle;}
            &:hover {
              color: $c_main_l;
            }
            &.active {
              &:before {
                content:'Скрыть';
              }
              .fa {
                transform: translateY(2px) rotate(180deg);
              }
            }
          }
        }
        pointer-events: auto;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        opacity: 1;

        display: block; 

        &.collapse {
          display: none;
          &.show {
            display: block;   
          }
        }
        &:nth-child(2) {
          .events__item {
            padding-top: 40px;
            position: relative;

            margin: 0 !important;
            padding-top: 40px; 
            &:before {
              position: absolute;
              top: 20px;
              right: 0;
              left: 0;
              height: 1px;
              content: '';
              background: linear-gradient(to right, #fff 0%, #d2d0d0 15%, #d2d0d0 85%, #fff 100%);
            }
          }
        }
        
        width: 100%;
        padding: 0 60px;
      }
      &__item { 
        display: block; 
        .ellipsize {
          // display: inline !important;
          background: none !important;
          // line-height: 24px;  
          &.min {
            display: inline;
            // line-height: 24px;  
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .events {
      &__list {
        padding: 0;
        &-wrap {

          .js-events-mobile-toggle {
            right: 0;
          }
        }
      }
      &__item {
        .text-wrap {
          line-height: 18px;
          .text {
            font-size: 16px;
            line-height: 18px;
            max-height: 60px;
          }
        }
        .date {
          font-size: 14px;
          margin-top: 12px;
        }
      }
    }
  }
}

section.important {
  display: flex;
  margin-top: $R*6;
  .important {
    &__left {
      position: relative;
      overflow: hidden;
      width: 100%;
      border-left: 2px solid $c_gray_darkest;
      .text {
        position: absolute;
        top: 100%;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        color: $c_main_l;
      }
      .dots {
        width: calc(100% - 78px);
        height: 100%;
        margin-top: 2px;
        margin-left: 40px;
        background-image: url('../img/bg-dots.jpg');
        background-size: 15px;
      }
    }
    &__right {
      position: relative;
      display: flex;
      width: 730px;
      padding: 30px 0;
      border: 2px solid $c_main_l;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      .icon-font {
        position: absolute;
        top: -20px;
        left: 30px;
        padding: 0 5px;
        font-size: 36px;
        color: $c_main_l;
        background: #fff;
      }
      .content {
        padding-left: 30px;
        font-size: 22px;
        line-height: 26px;
      }
      .btn-1 {
        margin: 0 35px;
      }
    }
  }

  @media (max-width: 1023px) {
    .important {
      &__left {
        display: none;
      }
      &__right {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    .important {
      &__right {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 20px 0;
        .content {
          font-size: 18px;
          line-height: 20px;
          padding: 0 18px;
        }
        .btn-1 {
          margin: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}

section.recommend {
  display: flex;
  margin-top: 60px;
  .recommend {
    &__left {
      width: 420px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
    }
    &__title {
      position: relative;
      flex-grow: 0;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-family: 'RobotoBold';
      font-size: 18px;
      color: $c_gray_darkest;
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background: $c_l_light;
      }
    }
    &__text {
      font-family: 'RobotoBold';
      font-size: 60px;
      line-height: 62px;
      color: $c_main_l;
      margin: auto 0;
    }
    &__right {
      display: flex;
      margin-top: -20px;
      margin-right: -20px;
      margin-left: 60px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &__item {
      @extend .link-reset;
      color: $c_gray_darkest;
      display: block;
      position: relative;
      z-index: 3;
      display: flex;
      width: calc(33.333% - 20px);
      height: 140px;
      margin-top: 20px;
      margin-right: 20px;
      padding: 50px 15px 10px 5px;
      &:hover {
        &:before {
          background: #f4f4f4;
        }
      }
      &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 10px;
        bottom: 10px;
        left: 0;
        content: '';
        border: 1px solid $c_main_l;
        background: #fff;
        transition: .25s;
      }
      &:after {
        position: absolute;
        z-index: -2;
        top: 10px;
        right: 0;
        bottom: 0;
        left: 10px;
        content: '';
        background: #ed998f;
      }
      .icon-font {
        position: absolute;
        top: 10px;
        left: calc(50% - 5px);
        font-size: 32px;
        line-height: 38px;
        transform: translateX(-50%);
        color: $c_gray_darkest;
        &:after {
          position: absolute;
          bottom: -10px;
          left: calc(50% - 20px);
          width: 40px;
          height: 2px;
          content: '';
          background: $c_main_l;
        }
      }
      .title {
        margin: auto;
        font-family: 'RobotoRegular';
        font-size: 16px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
  @media (max-width: 1800px) {
    .recommend {
      &__left {
        width: 380px;
      }
      &__text {
        font-size: 48px;
        line-height: 50px;
      }
      &__item {
        width: calc(50% - 20px);
      }
    }
  }
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    .recommend {
      &__left {
        width: 100%;
      }
      &__text {
        display: none;
      }
      &__right {
        margin: 0 40px 0 60px;
      }
      &__item {
        width: calc(33.333% - 20px);
      }
    }
  }


  @media (max-width: 767px) {
    margin-top: 20px;
    .recommend {
      &__right {
        margin: 0;
        align-items: stretch;
      }
      &__title {
        margin-bottom: 0;
      }
      &__item {
        width: 50%;
        margin: 0;
        padding: 20px 5px;
        height: auto;
        flex-direction: column;
        &:after,
        &:before {
          display: none;
        }
        .icon-font {
          position: relative;
          display: block;
          left: auto;
          top: auto;
          transform: none;
          text-align: center;
        }
        .title {
          font-size: 14px;
          margin: 20px 0 10px;
        }
        border-top: 1px solid $c_l_light;
        &:nth-child(1),
        &:nth-child(2) {
          border: none;
        }
        &:nth-child(2n) {
          position: relative;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 25px;
            bottom: 25px;
            width: 1px;
            background: $c_l_light;
            border: none;
          }
        }
      }
    }
  }
}

section.main_news {
  display: flex;
  margin-top: 60px;
  .main_news {
    &__left {
      width: 420px;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
    }
    &__title {
      flex-shrink: 0;
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 10px;
      font-family: 'RobotoBold';
      font-size: 18px;
      color: $c_gray_darkest;
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background: $c_l_light;
      }
    }
    &__text {
      flex-shrink: 0;
      font-size: 60px;
      font-family: 'RobotoBold';
      line-height: 62px;
      padding-top: 300px;
      color: $c_blue;
      padding-left: 100px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        left: 20px;
        top: 50px;
        height: 320px;
        width: 50px;
        border: 2px solid;
        border-color: transparent transparent $c_gray_darkest $c_gray_darkest;
      }
      &:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-color: transparent transparent $c_gray_darkest $c_gray_darkest;
        left: 60px;
        top: calc(370px - 8px);
        transform-origin: 0 0;
        transform: translateY(18px) rotate(-135deg);
      }
    }
    &__img {
      transition: .25s;
      &:hover {
        opacity: .7;
      }
      img {
        max-width: 100%;
      }
    }
    &__dots {
      height: 100%;
      background: url('../img/bg-dots.jpg');
      background-size: 15px;
      margin-top: 40px;
    }
    &__right {
      margin-left: 60px;
    }
    &__subscribe {
      float: right;
      margin-bottom: 30px;
      position: relative;
      margin-left: 25px;
      font-size: 16px;
      .icon-font {
        position: absolute;
        left: -25px;
        font-size: 18px;
        top: 4px;
      }
      .open-popover {
        & + .popover-subscribe {
          opacity: 1;
          pointer-events: auto;
          transform: none;
        }
      }

      .popover-subscribe {
        pointer-events: none;
        position: absolute;
        transition: .25s;
        opacity: 0;
        transform: translateY(-40px);
        width: 300px;
        right: 0;
        top: calc(100% + 20px);
        z-index: 10;
        padding: 20px;
        background: #fff;
        color: $c_gray_darkest;
        font-size: 18px;
        text-align: right;
        border: 1px solid $c_l_light;
        box-shadow: 4px 6px 16px rgba(black,.1);
        .form-group {
          text-align: left;
        }
        .text {
          margin-top: 4px;
          display: inline-block;
          vertical-align: middle;
        }
        label {
          width: 100%;
        }
        input {
          display: inline-block;
          vertical-align: middle;
          float: right;
          width: 200px;
        }
        button {
          display: inline;
          font-size: 16px;
          padding: 0;
          &:hover {
            .svg-wrap {
              fill: $c_gray_dark;
            }
          }
          .text {
            margin: 0;
          }
          .svg-wrap {
            margin-left: 6px;
            display: inline-block;
            width: 19px;
            height: 12px;
            transition: .25s;
            fill: $c_main_l;
            vertical-align: middle;
          }
        }
      }
    }
    &__item {
      clear: both;
      margin-bottom: 20px;
      .date {
        color: $c_gray_dark;
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 5px;
        &:before {
          display: block;
          background: $c_l_light;
          content: '';
          position: absolute;
          left: 0;
          right: 35%;
          height: 1px;
          bottom: 0;
        }
      }
      .title {
        display: inline;
        font-size: 22px;
        line-height: 22px;
        margin-right: 10px;
        color: $c_gray_darkest;
      }
      .link {
        display: inline;
        vertical-align: top;
        font-size: 16px;
      }
      &.big {
        @media (min-width: 768px) {
          .btn_more {
            @include btn-1();
          }
        }
        @media (max-width: 767px) {
          .btn_more {
            @include link();
            font-size: 16px;
            line-height: 18px;
            vertical-align: baseline;
            .svg-wrap {
              display: none;
            }
          }
        }
        .title {
          font-family: 'RobotoBold';
          font-size: 30px;
          line-height: 32px;
          margin: 20px 0;
          display: block;
        }
        .desc {
          font-size: 18px;
          line-height: 18px;
        }
        .btn_more {
          float: right;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  @media (max-width: 1800px) {
    .main_news {
      &__left {
        width: 380px;
      }
      &__text {
        font-size: 48px;
      }
      &__right {
        margin-left: 20px;
      }
      &__item {
        .title {
          font-size: 22px;
          line-height: 22px;
        }
        &.big {
          .title {
            font-size: 24px;
            line-height: 26px;
          }
          .desc {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    position: relative;
    .main_news {
      &__left {
        width: 360px;
        position: absolute;
        left: 0;
      }
      &__img,
      &__dots,
      &__text {
        display: none;
      }
      &__right {
        margin: 20px 60px 0 60px;
      }
      &__subscribe {
        position: relative;
        right: -60px;
        top: -20px;
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    .main_news {
      &__left {
        width: 100%;
      }
      &__subscribe {
        right: 0;
        .js-popover-subscribe-btn .text {
          display: none;
        }
        .popover-subscribe {
          right: -8px;
        }
      }
      &__right {
        margin-left: 0;
        margin-right: 0;
      }
      &__item {
        font-size: 18px;
        line-height: 18px;
        .date {
          font-size: 14px;
        }
        .title,
        .link {
          font-size: 16px;
          line-height: 18px;
          vertical-align: baseline;
        }
        &.big {
          .title {
            font-size: 18px;
            line-height: 20px;
            margin: 10px 0;
          }
          .desc {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

section.map {
  margin: 40px 0;
  height: 930px;
  position: relative;
  background-image: url(../modules/page-main/img/map-bg.jpg);
  background-position: 0 200px;
  background-repeat: no-repeat;
  transition: .5s;
  .js-map-view-toggle {
    position: absolute;
    right: 20px;
    top: 15px;
    &:before {
      transition: .5s;
      content: 'Свернуть';
      vertical-align: middle;
      margin-right: 5px;
    }

    &:hover {
      color: $c_main_l;
      .svg-wrap {
        fill: $c_main_l;
      }
    }

    i {
      font-size: 24px;
      vertical-align: middle;
      transition: .5s;
    }
  }
  .map {
    &__title {
      width: 420px;
      height: 290px;
      background: $c_main_l;
      color: #fff;
      padding: 30px;
      transition: .5s;
      .text-1 {
        font-size: 16px;
        line-height: 36px;
        transition: .5s;
      }
      .text-2 {
        font-size: 36px;
        line-height: 44px;
        margin: 30px 0;
        transition: .5s;
        font-family: 'RobotoBold';
      }
      .fa {
        font-size: 44px;
        position: relative;
        transition: .5s;
        top: 0;
      }
    }
    &__main {
      width: 730px;
      height: 820px;
      position: absolute;
      right: 0;
      top: 60px;
      background: #fff;
      box-shadow: 1px 2px 20px rgba(black,.35);
      display: flex;
      transition: .5s;
      transform-origin: 100% 0;
    }
    &__map {
      width: 420px;
      flex-shrink: 0;
      height: 100%;
      background: rgba(black,.1);
    }
    &__nav {
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      .box {
        margin: 30px 0;
        flex-shrink: 0;
      }
      .title {
        font-family: 'RobotoBold';
        font-size: 24px;
        line-height: 62px;
        display: flex;
        align-items: center;
        &:after {
          content: '';
          width: 100%;
          height: 5px;
          margin-top: 15px;
          vertical-align: bottom;
          margin-left: 10px;
          background-size: 5px 5px;
          background-image: linear-gradient(-45deg,#fff 0%,#fff 45%,#aaa 45%,#aaa 55%,#fff 55%,#fff 100%);
        }
      }
      .dots {
        height: 100%;
        background: url(../img/bg-dots.jpg);
        background-size: 15px;
      }
      ul {
        li {
          display: inline-block;
          vertical-align: middle;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-top: -10px;
            margin-right: 6px;
            margin-left: 4px;
            background-color: $c_main_l;
            font-size: 28px;
            height: 3px;
            width: 10px;
          }
          a {
            @include link-reset();
            font-size: 28px;
            line-height: 55px;
            font-family: 'RobotoRegular';
            color: $c_gray_darkest;
            text-transform: uppercase;
            &:hover {
              color: $c_main_l;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    
    &.map-hidden {
      height: 120px;
      .map {
        &__title {
          height: 120px;
          width: 100%;
          padding: 15px 30px;
          .text-2 {
            margin-top: 5px;
            margin-left: 70px;
          }
          .fa {
            top: -72px;
          }
        }
        &__main {
          opacity: 0;
          pointer-events: none;
          transform: scale(0,0);
        }
      }
      .js-map-view-toggle {
        &:before {
          content: 'Развернуть';
          color: #fff;
        }

        i {
          transform: translateY(3px) rotate(180deg);
          color: #fff;
        }
      }
    }
  }

  @media (max-width: 1800px) {
    .map {
      &__title {
        height: 120px;
        width: 100%;
        padding: 15px 30px;
        .text-2 {
          margin-top: 5px;
          margin-left: 70px;
        }
        .fa {
          top: -72px;
        }
      }
      &__main {
        top: 120px;
        left: 0;
        margin: auto;
        width: 740px;
      }
    }
    .js-map-view-toggle {
      &:before {
        color: #fff;
      }

      i {
        color: #fff;
      }
    }
  }

  @media (max-width: 1023px) {
    height: auto;
    .map {
      &__main {
        width: 100%;
        box-shadow: none;
        height: auto;
        padding: 0;
        position: static;
      }
      &__map {
        display: none;
      }
      &__nav {
        padding: 0;
        width: auto;
        .title {
          &:after {
            max-width: 192px;
          }
          margin: 10px 0;
          line-height: 40px;
        }
        .box {
          margin: 0;
        }
        .dots {
          display: none;
        }
        ul {
          margin-bottom: 10px;
          li > a {
            line-height: 40px;
          }
        }
      }
    }
    .js-map-view-toggle {display: none !important;}
  }

  @media (max-width: 767px) {
    .map {
      &__title {
        height: auto;
        .text-2 {
          margin-left: 0;
          margin-bottom: 20px;
          font-size: 30px;
          line-height: 32px;
        }
        .fa {
          position: static;
          font-size: 30px;
        }
      }
    }
  }
}

section.sites {
  display: flex;
  margin: 40px -10px 40px;
  justify-content: center;
  .sites {
    &__item {
      width: calc(20% - 20px);
      margin: 0 10px;
      padding: 15px 10px 20px;
      border: 1px solid #bfbfbf;
      display: flex;
      align-items: center;
      color: #464646;
      min-height: 80px;
      &:hover,
      &:active {
        text-decoration: none;
        .sites__img img.hover {
          opacity: 1;
        }
      }
    }
    &__img {
      position: relative;
      text-align: center;
      margin-right: 10px;

      img {
        &:first-child {
          position: relative;
        }
        top: 0;
        left: 0;
        position: absolute;
        transition: .25s;
        &.hover {
          opacity: 0;
        }
      }
    }
    &__text {
      display: inline;
      font-size: 12px;
      line-height: 14px;
    }
  }
  @media (max-width: 1800px) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    margin-bottom: -20px;
    .sites {
      &__item {
        width: 200px;
        margin: 0 13px;
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: 1023px) {
    margin: 40px 0;
    margin-bottom: -20px;
    .sites {
      &__item {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    .sites {
      &__item {
        width: calc(50% - 20px);
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
      }
      &__img {
        flex-shrink: 0;
        width: 30px;
        display: inline-block;
        vertical-align: middle;
        img {
          max-width: 100%;
        }
      }
      &__text {
        font-size: 9px;
        line-height: 10.5px;
        padding-left: 10px;
      }
    }
  }
}
