.lk {
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid $c_l_light;

  &__toggle_nav {
    font-family: 'RobotoBold';
    font-size: 30px;
    margin: 40px 0;
    text-align: center;
    color: $c_gray_darkest;
    span {
      cursor: pointer;
      transition: .25s;
      color: $c_gray_dark;
      border-bottom: 1px dashed;

      &:hover {
        color: $c_main_l;
      }
    }
  }
  &__toggle_content {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 40px 60px 50px;
    border: 1px solid #bfbfbf;
    .title {
      font-family: 'RobotoBold';
      font-size: 30px;
      text-align: center;
    }
    label {
      margin-bottom: 0;
    }
    form {
      margin: 40px 0;
      .form-footer {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-login {
      ul {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    &-signin {
      form {
        margin-bottom: 0;
      }
      .form-check-input {
        margin-top: 6px;
        margin-left: -40px;
      }
      .form-check-label {
        padding-left: 40px;
      }
    }
  }
  &.open-login {
    .js-login {
      color: $c_main_l;
    }
    .lk__toggle_content-signin {
      display: none;
    }
  }
  &.open-signin {
    .js-signin {
      color: $c_main_l;
    }
    .lk__toggle_content-login {
      display: none;
    }
  }


  @media (max-width: 1023px) {
    &__toggle_content {
      padding: 20px 40px 30px;
      .title {
        font-size: 28px;
      }
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
    &__toggle_nav {
      font-size: 24px;
      line-height: 22px;
    }
    &__toggle_content {
      border: none;
      padding: 0;
      .title {
        font-size: 24px;
        line-height: 22px;
      }
      form {
        margin: 20px 0;
        .form-footer {margin-top: 15px;}
      }
      &-login {

        .info {
          .ul-mark {
            margin-left: 0;
          }
        }
      }
      &-signin {
        label {line-height: 18px;}
        form .form-footer {
          flex-wrap: wrap;
          justify-content: flex-end;
          small {margin-bottom: 10px;width: 100%;}
        }
      }
    }
  }
}
