.cities-nav {
  li {
    display: inline-block;
    vertical-align: middle;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-top: -10px;
      margin-right: 4px;
      margin-left: 4px;
      background-color: $c_main_l;
      font-size: 28px;
      height: 3px;
      width: 10px;
    }
    a {
      font-size: 28px;
      font-family: 'RobotoRegular';
      color: $c_gray_darkest;
      text-transform: uppercase;
    }
  }
}

.cities {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {
    & + .cities__item {
      border-top: 1px solid $c_l_light;
    }
    &.description-open {
      .btn-collapse {
        &:before {
          transform: rotate(180deg);
          background: $c_gray_dark;
        }
        &:after {
          transform: rotate(180deg);
          background: $c_gray_dark;
        }
      }
    }
  }
  &__name {
    font-size: 24px;
    padding: 18px 40px 22px 0;
    position: relative;
    cursor: pointer;
    transition: .25s;
    &:hover {
      background: $c_l_lightest;
      .svg-wrap {
        fill: $c_gray_darkest;
      }
    }
    .svg-wrap {
      display: inline-block;
      margin-top: -3px;
      width: 20px;
      height: 24px;
      margin-left: 5px;
      vertical-align: middle;
      fill: $c_l_light;
      transition: .25s;
      margin-right: 15px;
    }
    .btn-collapse {
      width: 17px;
      height: 17px;
      position: absolute;
      right: 12px;
      top: calc(50% - 8px);

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        height: 3px;
        right: 0;
        background: $c_main_l;
        transition: .25s;
      }
      &:after {
        transform: rotate(90deg);
      }
    }
  }
  &__description {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 30px;
    .title {
      font-size: 24px;
      line-height: 20px;
      margin: 15px 0;
      font-family: 'SegoeUIBold';
    }
    .subtitle {
      font-family: 'SegoeUIBold';
      margin: 15px 0;
      display: inline-block;
      vertical-align: top;
    }
    strong {
      font-family: 'SegoeUIBold';
    }

    .img-wrap {
      &.float-left {
        margin: 10px 30px 10px 0;
      }
      &.float-right {
        margin: 10px 0 10px 30px;
      }
    }
  }

  @media (max-width: 1279px) {
    &__name {
      font-size: 18px;
      padding: 5px 40px 6px 0;
    }
    &__description {
      font-size: 16px;
      padding-right: 5px;
      strong {margin-bottom: 10px;display: inline-block;margin-top: 10px;}
      .title {
        font-size: 18px;
        line-height: 20px;
      }
      .subtitle {
        font-size: 16px;
        line-height: 18px;
      }
      .img-wrap {
        display: none;
      }
    }
  }
}
