.news {
  &__filter {
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-group {
      margin-right: 30px;
      margin-bottom: 0;
      flex-grow: 3;
      .chosen-container {min-width: 120px;}
      &:nth-child(2) {
        flex-grow: 1;
      }
    }
    label {margin-right: 10px;}
  }
  &__item {
    padding: 30px;
    position: relative;
    padding-left: 320px;
    &:not(:first-child):before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 420px;
      height: 1px;
      background:$c_l_light;
    }
    .img {
      font-size: 0;
      display: block;
      transition: .25s;
      &:hover {
        opacity: .8;
      }
      img {
        border: 1px solid $c_gray_dark;
      }
    }
    .date {
      position: absolute;
      top: 30px;
      left: 30px;
      font-size: 16px;
      color: $c_gray_dark;
    }
    .name {
      display: inline;
      padding-right: 10px;
      font-size: 22px;
      line-height: 22px;
      color: $c_gray_darkest;
    }
    .link {
      font-size: 16px;
      white-space: nowrap;
    }
    &-big {
      min-height: calc(162px + 60px);
      .date {
        position: static;
      }
      .name {
        display: block;
        margin: 20px 0;
      }
      .desc {
        display: inline;
        padding-right: 10px;
      }
      .img {
        position: absolute;
        left: 29px;
        top: 30px;
        right: calc(100% + 50px - 320px - 2px);
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
  }
  &-one {
    width: 800px;
    max-width: 100%;
    margin: auto;
    strong {
      font-family: "SegoeUIBold";
    }
  }
  &-socials {
    margin: 40px 0;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
      li {
        a {
          text-align: center;
          line-height: 48px;
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #fff;
          box-shadow: 0 0 10px rgba(black,.2);
          color: $c_gray_dark;
          transition: .25s;
          cursor: pointer;
          &:hover {color: #fff;}
        }
        + li {margin-left: 30px;}
        &:nth-child(1) a:hover {
          background: #4267b2;
        }
        &:nth-child(2) a:hover {
          background: #1da1f2;
        }
        &:nth-child(3) a:hover {
          background: #507299;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    margin-left: 60px;
    margin-right: 60px;
    &__filter {
      flex-wrap: wrap;
      justify-content: flex-end;
      justify-content: space-between;
      .form-group {
        flex-grow: 0 !important;
        margin-bottom: 20px;
        &:nth-child(3) {
          width: 100%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          margin-right: 0;
        }
      }
      .btn-1 {margin-right: 0;margin-left: auto;}
    }
    &__item {
      &:before {display: none;}
      .img {display: none;}
      padding: 15px 0;
      &-big {
        min-height: auto;
        .name {display: inline;}
        .desc {display: none;}
      }
      .date {
        position: relative;
        top: auto;
        left: auto;
        padding-bottom: 5px;
        margin-bottom: 5px;
        &:before {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          max-width: 420px;
          height: 1px;
          background:$c_l_light;
        }
      }
    }
  }
  @media (max-width: 767px) {

    margin-left: 0;
    margin-right: 0;
    &__filter {
      flex-wrap: wrap;
      justify-content: flex-end;
      .form-group {
        width: 100%;
        margin-right: 0;
        label {
          margin-bottom: 0;
        }
        &:nth-child(2), 
        &:nth-child(3) {margin-right: 0;}
        margin-bottom: 20px;
      }
      .btn-1 {margin-left: 100px;}
    }
    &__item {
      .date {
        font-size: 14px;
      }
      .name {
        font-size: 16px;
      }
    }
  }
}