

.js-page-scroll-to-top {
  position: fixed;
  z-index: 99;
  width: 40px;
  height: 40px;
  fill: $c_main_l;
  top: calc(100vh - 60px);
  cursor: pointer;
  left: calc(420px + 64% - 50px);
  text-align: center;
  transition: .25s;
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
    &:hover {
      opacity: .7;
    }
  }
  @media (max-width: 1800px) {

    left: calc(300px + 920px);
  }
  @media (max-width: 1279px) {

    left: calc(100% - 40px);
    display: none;
  }
}


.main-wrap {
  display: flex;
  min-height: 100vh;
  background-image: url('../img/bg-dots.jpg');

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.aside {
  position: fixed;
  z-index: 100;
  overflow: hidden;
  width: 420px;
  height: 100%;
  background: #fff;
  &__logo {
    display: flex;
    padding: 15px;
    background: $c_main;
    height: 100px;
    .img-wrap {
      padding: 0 15px;
      height: 100px - 30px;
    }
    .text-wrap {
      line-height: 25px;
      position: relative;
      padding-left: 15px;
      color: #fff;
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        content: '';
        background: #fff;
      }
      .text-1 {
        font-family: 'SegoeUIBold';
        font-size: 25px;
      }
      .text-2 {
        font-size: 23px;
      }
      .text-3 {
        font-size: 16px;
        margin-top: -2px;
      }
    }
  }
  &__btn_menu {
    display: none;
  }
  &__navigation {
    overflow: auto;
    overflow: hidden;
    height: 100%;
    margin-top: $R*6;
    border-right: 1px solid $c_l_light;
    [class*='lvl-'] {
      padding: 0;
      margin: 0;
      list-style-type: none;
      transition: .5s;
      & > li {
        &:after {
          content: '';
          display: table;
          clear: both;
        }
        &:hover {
          & > .svg-wrap {
            fill: rgba($c_mark,.4);
          }
          & > .link-mark .text:before {
            width: $R*6;
          }
        }
        & > .link-mark {
          font-size: 18px;
          line-height: 18px;
          display: inline-block;
          width: calc(100% - 50px);
          padding: 6px 10px 7px;
          padding-right: 40px;
          vertical-align: middle;
          color: $c_gray_darkest;
          transition: .25s;
          &.active ~ ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
        .svg-wrap {
          float: right;
          width: 30px;
          height: 30px;
          margin-top: 2px;
          margin-right: 20px;
          cursor: pointer;
          transition: .25s;
          text-align: center;
          & + .link {
            padding-right: 40px;
          }
          
          svg {
            width: $R;
            height: $R;
            margin: 10px;
          }
          &.active ~ ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
      }
      padding-left: 30px;
    }
    .lvl-1 {
      position: relative;

      &.hidden {
        transform: translateX(-100%);
      }
    }
    .lvl-2,
    .lvl-3 {

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 0;
      margin: 0;
      transform: translateX(100%);
      width: calc(100% - 30px);
      &.collapse {display: block;}
      & > li {.svg-wrap {
        margin-right: -10px;
      }}

      li.js-close-submenu {
        font-weight: bold;
        cursor: pointer;
        padding: 6px 10px 7px;
        transition: .25s;
        &:hover {
          color: $c_mark;
          .svg-wrap {
            fill: $c_mark;
          }
        }
        .svg-wrap {
          transition: .25s;
          float: none;
          transform: rotate(180deg);
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -1px;
          width: 20px;
          height: 18px;
          margin: 0;
          padding: 0;
          margin-right: 15px;

          svg {
            margin: 0;
            width: auto;
            height: auto;
          }
        }
      }
    }
    .lvl-2 {
      &.hidden {
        transform: translateX(0);
      }
    }
    @media (max-width: 1800px) {
      padding-left: 20px;
    }
  }
  @media (max-width: 1800px) {
    width: 300px;
    &__logo {
      height: 80px;
      padding: 10px;
      .img-wrap {
        height: 60px;
        width: 60px;
        padding-right: 10px;
        padding-left: 0;
      }
      .text-wrap {
        height: 60px;
        padding-left: 10px;
        line-height: 22px;
        .text-1 {
          font-size: 17px;
        }
        .text-2 {
          font-size: 17px;
        }
        .text-3 {
          font-size: 11px;
        }
      }
    }
    @media (min-width: 1280px) {

      &__navigation {
        padding-left: 0;
        [class*='lvl-'] {
          padding-left: 0;
          > li {
            padding-left: 20px;
            .svg-wrap {
              margin-right: 10px;
            }
          }
          // transform: translateX(0) !important;
        }
        .lvl-2,.lvl-3 {
          width: 100%;
          margin-left: -20px;
          li.js-close-submenu {
            padding-left: 30px;
          }
          // transform: translateX(0);
        }
      }
    }
  }
  @media (max-width: 1279px) {
    position: absolute;
    width: 380px;
    height: 80px;
    overflow: visible;
    display: flex;
    &__logo {
      flex-grow: 1;
      justify-content: flex-end;
      padding: 10px 20px;
      .text-wrap {
        padding-left: 20px;
      }
    }
    &__btn_menu {
      display: block;
      width: 60px;
      display: flex;
      flex-direction: column;
      background: $c_gray_dark;
      align-items: center;
      justify-content: center;
      order: -1;

      .line {
        background: white;
        width: 30px;
        height: 5px;
        transition: .25s;
        + .line {
          margin-top: 5px;
        }

        .menu-open & {
          &:nth-child(1) {
            transform: translate(3px,10px) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: translate(3px,-10px) rotate(-45deg);
          }
        }
      }
    }
    &__navigation {
      position: fixed;
      background: #fff;
      height: auto;
      overflow: auto;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      transition: .5s;
      margin: 0;
      padding: 0 40px;
      border: none;
      transform-origin: 0 0;
      transform: scale(0,0);
      .menu-open & {
        transform: scale(1,1);
      }
      [class*='lvl-'] {
        padding-left: 0;
        transform: none !important;
        & > li {
          > .link-mark {
            width: calc(100% - 30px);
            line-height: 28px;
          }
          .svg-wrap {
            position: relative;
            margin-right: 0;
            margin-top: 6px;
            svg {
              display: none;
            }
            &:before,
            &:after {
              position: absolute;
              left: 7px;
              top: 14px;
              width: 16px;
              height: 2px;
              content: '';
              background: red;
              transition: .25s;
            }
            &:after {
              transform: rotate(90deg);
            }
            &.active {
              &:before,
              &:after {
                background: $c_gray_dark;
                transform: rotate(-180deg) scaleX(.7);
              }

              & + .link-mark {
                color: $c_main_l;
              }
              & ~ [class*='lvl-'] {
                // height: auto;
              }
            }
          }
        }
      }
      .lvl-1 {
        & > li {
          border-bottom: 1px solid $c_l_light;
        }
      }

      .lvl-2,
      .lvl-3 {
        width: calc(100%);
        position: relative;
        padding-left: 20px;
        > li > .link-mark {
          padding-right: 0;
        }
        &.collapse {display: none;}
        &.collapse.show {display: block;}
        .js-close-submenu {display: none;}
      }
      .lvl-3 {
        > li > .link-mark {
          width: 100%;
          padding-right: 10px;
          &:before {
            content:'-';
            margin-right: 8px;
            display: inline-block;
            vertical-align: baseline;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    position: static;
    width: 100%;
    &__logo {
      padding: 10px 6px;
      min-width: 260px;
      justify-content: center;
      .img-wrap {
        width: 55px;
        padding-right: 10px;
        padding-left: 0;
      }
      .text-wrap {
        padding-left: 10px;
        line-height: 20px;
        &:before {
          width: 1px;
        }
        .text-1 {
          font-size: 16px;
        }
        .text-2 {
          font-size: 15px;
        }
        .text-3 {
          font-size: 10px;
        }
      }
    }
    &__btn_menu {
      .line {
        .menu-open & {
          &:nth-child(1) {
            transform: translate(0px,10px) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: translate(0px,-10px) rotate(-45deg);
          }
        }
      }
    }
    &__navigation {
      padding: 0 10px;
      transform: translateX(-100%);
      .menu-open & {
        transform: translateX(0);
      }
    }
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 64%;
  margin-left: 420px;
  padding: 20px 60px;
  background: #fff;
  @media (max-width: 1800px) {
    width: 920px;
    margin-left: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: 1279px) {
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
  }
  @media (max-width: 767px) {
    padding: 10px;
  }
}

.main {
  height: auto;
  flex-grow: 1;
}

.header {
  margin-bottom: 50px;
  &__first {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .hot-line {
      font-family: 'SegoeUISemiBold';
      font-size: 18px;
      color: $c_gray_darkest;
      &:before {
        display: inline-block;
        width: 20px;
        height: 3px;
        margin-top: -2px;
        margin-right: 8px;
        content: '';
        transition: .25s;
        vertical-align: middle;
        background: $c_main_l;
      }
      &:hover {
        color: $c_main_l;
      }
    }
    .date {
      font-size: 14px;
      color: $c_gray_dark;
    }
  }
  &__second {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    .icon-font {
      font-family: 'FontAwesome';
      line-height: 21px;
      display: inline-block;
      width: 32px;
      height: 24px;
      transition: .25s;
      text-align: center;
      vertical-align: middle;
      color: $c_gray_darkest;
      border: 1px solid;
      &:hover {
        color: $c_main_l;
      }
    }
    .rate {
      font-size: 14px;
      color: $c_gray_dark;
      &__item {
        display: inline-block;
        vertical-align: top;
        & + .rate__item {
          margin-left: 10px;
        }
        .name {
          &:after {
            display: inline-block;
            margin: 0 4px;
            content: '';
            vertical-align: middle;
            border-width: 4px;
            border-style: solid;
          }
          &.up:after {
            margin-top: -8px;
            border-color: transparent transparent $c_main_l transparent;
          }
          &.down:after {
            border-color: $c_main_l transparent transparent transparent;
          }
        }
      }
    }
    .action-btns {
      font-size: 0;
      .icon-font {
        font-size: 16px;
        & + .icon-font {
          margin-left: 40px;
        }
      }
    }
    .lk-search {
      .lk-link {
        font-family: 'SegoeUISemiBold';
        font-size: 18px;
        transition: .25s;
        vertical-align: middle;
        color: $c_main_l;
        &:before {
          display: inline-block;
          width: 20px;
          height: 3px;
          margin-top: -2px;
          margin-right: 8px;
          content: '';
          vertical-align: middle;
          background: $c_main_l;
        }
        &:hover {
          color: $c_gray_darkest;
        }
        & + .btn-search {
          position: relative;
          margin-left: 40px;
          &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -23px;
            width: 1px;
            content: '';
            background: $c_gray_darkest;
          }
        }
      }
      .btn-search {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  @media (max-width: 1279px) {
    margin-left: 380px;
    &__second {
      .action-btns {
        display: none;
      }
    }
  }
  @media (max-width: 1023px) {
    margin-bottom: 40px;
    &__first {
      .date {
        display: none;
      }
    }
    &__second {
      .rate {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 20px;
  }
}
