$R: 10px;

$c_main_l: #cc2714;
$c_main: #8d0000;
$c_main_d: #7a0204;
$c_mark: #ffbc65;

$c_gray_dark: #808080;
$c_gray_darkest: #41464b;

$c_blue: #3e6682;
$c_blue_l: #5091be;

$c_l_lightest: #e2dfdd;
$c_l_light: #d2d0d0;
$c_l_mark: #d0a075;
$c_l_light_2: #ead8d2;
$c_brown: #a67052;

  @media (max-width: 1800px) {}
  @media (max-width: 1279px) {}
  @media (max-width: 1023px) {}
  @media (max-width: 767px) {}
  @media (max-width: 440px) {}