.search {
  width: 800px;
  max-width: 100%;
  margin: 40px auto;
  &__form {
    display: flex;
    margin-bottom: 40px;
    .form-group {
      flex-grow: 1;
      margin-right: 20px;
        margin-bottom: 0;
      [type="text"] {
        border: 1px solid #939598;
        height: 55px;
        &:focus {
          border-color: $c_gray_darkest;
        }
      }
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
    &__form {
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: 30px;
      .form-group {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
        [type="text"] {
          height: 42px;
        }
      }
      .btn-1 {
        margin-top: 40px;
      }
    }
  }
}